.Website {
  background-color: #1b2838;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  overflow-y: auto;
}

.Web-Header {
  background-color: orangered;
}

.Web-Body {
  background-color: red;
}